html {
    height: 100%;
}

.image-section {
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
.header {
    height: 550px;
    background-image: url('../img/hero.jpg');
}

.header .container {
    height: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    width: 500px;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 20px;
}

.menu {
    max-width: 500px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -125%);
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.menu ul li {
    margin: 0 25px;
    position: relative;
    z-index: 2;
}

.menu ul li::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 0;
    height: 100%;
    transition: width 0.2s ease-in-out;
    top: 0;
    left: 0;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.25rem;
    display: block;
    margin: 5px 10px;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.menu ul li:hover a{
    color: #333333;
}

.menu ul li:hover::before {
    width: 100%;
}

@media screen and (max-width: 768px){
    .header {
        height: 400px;
    }

    .logo {
        width: 350px;
    }

    .menu ul li {
        margin: 0 15px;
    }
}
/* End of Header */

/* General Section */
.section {
    padding: 75px 0;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    font-weight: 300;
}
/* End General Section */

/* About */
.about {
    color: #555555;
}

.emphasized {
    font-weight: bold;
}

.about-description {
    font-weight: 300;
    line-height: 1.25;
}

.about-image {
    width: 100%;
    height: auto;
}
/* End of About */

/* Before & After */
.before-after {
    background-color: #555555;
    color: white;
}

.before-after .col {
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
}

.before-after-list {
    list-style: none;
    font-size: 1.35rem;
    font-weight: 300;
    padding: 0;
}

.before-after-list li {
    margin: 15px 0;
}

.before-after i {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.before-list {

}

.after-list {

}
/* End of Before & After */

/* Call to action */
.acceleration-image {
    width: 175px;
    height: auto;
}

.contact-button {
    text-decoration: none;
    background-color: #555555;
    color: #ffffff;
    font-size: 2rem;
    padding: 20px 40px;
}

.contact-button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #555555;
    border: 3px solid #555555;
}

/* End of Call to action */

/* Prism Facts */
.prism-facts {
    height: 500px;
    background-image: url('../img/facts.jpeg');
}
/* End of Prism Facts */